auto-save-list
eln-cache
eshell
straight

url

transient

recentf

projects

games

tree-sitter/

readme.el
!README.org
!init.el
!early-init.el

.org-id-locations

tramp

*~

# My specific things which not stored in repository (with example files)
user-settings.el
!user-settings.example.el